[submodule "sources/poky"]
    path = sources/poky
    url = git://git.yoctoproject.org/poky.git
[submodule "sources/meta-freescale"]
    path = sources/meta-freescale
    url = git://git.yoctoproject.org/meta-freescale.git
[submodule "sources/meta-openembedded"]
    path = sources/meta-openembedded
    url = git://git.openembedded.org/meta-openembedded
[submodule "sources/meta-freescale-distro"]
	path = sources/meta-freescale-distro
	url = https://github.com/Freescale/meta-freescale-distro
[submodule "sources/meta-intel"]
    path = sources/meta-intel
    url = git://git.yoctoproject.org/meta-intel
[submodule "sources/meta-xilinx"]
	path = sources/meta-xilinx
	url = git://github.com/Xilinx/meta-xilinx
[submodule "sources/meta-xilinx-tools"]
	path = sources/meta-xilinx-tools
	url = https://github.com/Xilinx/meta-xilinx-tools.git
