[Unit]
Description=Conserver Serial-Port Console Daemon
After=network.target

[Service]
Type=forking
ExecStart=/usr/sbin/conserver -d

[Install]
WantedBy=multi-user.target
