[Unit]
Description=Concurrent CPU init
After=systemd-modules-load.service

[Service]
Type=oneshot
ExecStart=@SCRIPTDIR@/cct-init.sh

[Install]
WantedBy=multi-user.target
