[Unit]
Description=Host init
After=systemd-networkd-wait-online.service
Wants=systemd-networkd-wait-online.service

[Service]
Type=oneshot
ExecStart=@SCRIPTDIR@/host-init.sh

[Install]
WantedBy=multi-user.target
